data/images/
data/density/
data/png/
data/svg/
data/npr_thresh/
data/*.json
data/*.zip
registration/__pycache__/
registration/transform_labeled/
registration/transform_unlabeled/
registration/visual_labeled/
registration/visual_unlabeled/
utils/subsets/*.png
utils/subsets/*.svg
utils/progression/*.png
figs/*.jpg

